/*$X: 70deg;*/
/*$color: #1ec0f5;*/
/*$speed: 1s;*/



.figure {
    width: 150px;
    height: 150px;
    transform: translate(-50%, -65%);
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
}
.figure div {
    width: 100%;
    height: 100%;
    position: absolute;
}
.figure div:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 25px solid #1ec0f5;
    border-right: 5px solid #1ec0f5;
    border-bottom: 10px solid transparent;
    border-left: 0px solid transparent;
    border-radius: 50%;
}

.figure div:nth-child(1):after {
    animation: ring  1s linear infinite;
    transform: rotateX(70deg) rotateY(0deg) rotate(0deg);
}
.figure div:nth-child(2):after {
    animation: ring2  1s linear infinite;
    animation-delay: calc(1s/-2);
    transform: rotateX(70deg) rotateY(60deg) rotate(0deg);
}
.figure div:nth-child(3):after {
    animation: ring3  1s linear infinite;
    animation-delay: calc(1s/-3);
    transform: rotateX(70deg) rotateY(-60deg) rotate(0deg);
}

@keyframes ring {
    100% {
        transform: rotateX(70deg) rotateY(0deg) rotate(360deg);
    }
}
@keyframes ring2 {
    100% {
        transform: rotateX(70deg) rotateY(60deg) rotate(360deg);
    }
}
@keyframes ring3 {
    100% {
        transform: rotateX(70deg) rotateY(-60deg) rotate(360deg);
    }
}
